body {
    background-color: #00dd77;
}

.cardslot {
    border: 1px solid #CCC;
    border-radius: 5px;
    min-width: 135px;
    min-height: 210px;
}

.section {
	margin-top: 30px;
	margin-bottom: 30px;
}

.list {
	list-style: none outside none;
	margin: 10px;
	padding: 10px;
}

.item {
    display: inline-block;

	padding: 5px 10px;
	margin: 5px 0;
	border: 0;

	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	cursor: move;
}
