body {
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 4px 4px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 4px 5px;

    background-size:8px 8px;
    background-color: #003B1C;
    color: #FFF;
}

#main-content {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding-top: 55px;
}

#main-content > .row {
    flex-direction: column;
    height: 100%;
}

#main-content > .row > .col {
    flex-basis: auto;
}

#main-content > .row > .col.start,
#main-content > .row > .col.end {
    flex-grow: 0;
}

.bg-inverse {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.infotext {
    text-align: center;
    margin-top: -20px;
}

.cardslot {
    border: 1px solid #CCC;
    border-radius: 5px;
}

.section {
	margin-top: 30px;
	margin-bottom: 30px;
}

.cardsets {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.cardhand, .cardtable {
	list-style: none outside none;
	margin-bottom: 0;
	padding: 5px 20px;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.cardhand {
    background: rgba(255, 255, 255, 0.1);
}

.deck img {
    cursor: pointer;
}

.cardslot {
    position: relative;
	padding: 5px;
	border: 0;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	cursor: move;
    min-width: 0;
}

.carddiscard {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.cardimg {
    width: 100%;
    max-width: 135px;
    max-height: 187px;
}
