<div class="container-fluid">
    <p class="infotext">{{$ctrl.infotext}}</p>

    <div class="row justify-content-md-center">
        <div class="deck col col-lg-1 cardslot">
            <img ng-src="{{$ctrl.decksrc}}" alt="Deck" class="cardimg" />
        </div>
        <div class="discard col col-lg-1 cardslot">
            <img ng-if="$ctrl.discardsrc != null" ng-src="{{$ctrl.discardsrc}}" alt="Discard Pile" class="cardimg" />
        </div>
    </div>

    <ul ui-sortable="sortableOptions" ui-sortable-on-change="$ctrl.updateHandOrder" ng-model="$ctrl.hand" class="row justify-content-md-center cardhand">
        <li ng-repeat="item in $ctrl.hand" class="cardslot col"><img ng-src="{{item.src}}" alt="{{item.suit}} {{item.card}}" class="cardimg" /></li>
    </ul>
</div>
